<!DOCTYPE html>
<html class="no-js">
  {% include head.html %}
  <body>
    {% include header.html %}
    <div class="content">
      {{ content }}
    </div>
    <!-- Start of HubSpot Embed Code -->
  <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/8017601.js"></script>
<!-- End of HubSpot Embed Code -->
    {% include footer.html %}
    <center>  <img src="https://hitcounter.pythonanywhere.com/count/tag.svg?url=https%3A%2F%2Fhubstation.github.io%2Fnewsletter%2F" alt="Hits"> </center>
  </body>
</html>
